<html  xmlns:th="http://www.thymeleaf.org">
<div th:insert="/user/top"></div>
<body class='bgi'>
 <div class='dvv'>
   <label class='lah' style='color:white;'>Change Password</label>
  </div>
  <hr>
  <form action='checkpass' method='post'>
  <table border='1' class='tad'>
   <tr>
    <td class='tatd'>Enter current password</td>
    <td class='tatd'><input type="password" class='tb' name="pass" style='width:100%' required></td>
   </tr>
   <tr>
    <td colspan="2" align="center" th:text="${msg}" style="color:red"></td>
   </tr>
   </table>
  <div class='dvv'>
  <button class='btr'>Submit</button>
  <input type='button' class='btr' style='background-color:orange' onclick="history.back()" value='Cancel'>
  </div>
  </form>
</body>
</html>