<html  xmlns:th="http://www.thymeleaf.org">
<head>
 <script>
 function matchPassword()
 {
 	 if(document.getElementById('rpassword').value!=document.getElementById('password').value)
     {
 	  alert("Confirm password does not match with password")
 	  return false;
     }
     return true;
 }
 </script>
</head> 
<div th:insert="/user/top"></div>
<body class='bgi'>
 <div class='dvv'>
   <label class='lah' style='color:white;'>Change Password</label>
  </div>
  <hr>
  <form action='updatepass' method='post'>
  <table border='1' class='tad'>
   <tr>
    <td class='tatd'>Enter new password</td>
    <td class='tatd'><input type="password" class='tb' name="pass" id="password" style='width:100%' required></td>
   </tr>
    <tr>
    <td class='tatd'>Confirm new password</td>
    <td class='tatd'><input type="password" class='tb' name="cpass" id="rpassword" style='width:100%' required></td>
   </tr>
   <tr>
    <td colspan="2" th:if="${samep==0}" align="center" th:text="${msg}" style="color:green"></td>
    <td colspan="2" th:if="${samep==1}" align="center" th:text="${msg}" style="color:red"></td>
   </tr>
   </table>
  <div class='dvv'>
  <button class='btr' onclick="return matchPassword()">Submit</button>
  <a href='/profile/profile' class='btl' style='background-color:orange'>Back</a>
  </div>
  </form>
</body>
</html>