<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="/user/top"></div>
<body class='bgi'>
 <table class='searchta'>
  <tr>
   <td>
     <form action="/searchby/bookid/user">
      <table style="width:100%">
       <tr>
   		<td style="width:30%" class='tatd la'>Search by book id</td>
   		<td style="width:50%" class='tatd'><input type='text' name='bid' class='tbb' required></td>
   		<td style="width:20%" class='tatd'><button class='btr'>Go</button></td>
   	   </tr>
      </table>
     </form>
   </td>
   </tr>
   <tr>
   <td>
    <form action="/searchby/author/user">
    <table style="width:100%">
     <tr>
   		<td style="width:30%" class='tatd la'>Search by author</td>
   		<td style="width:50%" class='tatd'><input type='text' name='author' class='tbb' required></td>
   		<td style="width:20%" class='tatd'><button class='btr'>Go</button></td>
   	 </tr>
    </table>
    </form>
   </td>
  </tr> 
  <tr>
   <td>
    <form action="/searchby/title/user">
    <table style="width:100%">
     <tr>
   		<td style="width:30%" class='tatd la'>Search by title</td>
   		<td style="width:50%" class='tatd'><input type='text' name='title' class='tbb' required></td>
   		<td style="width:20%" class='tatd'><button class='btr'>Go</button></td>
   	 </tr>
    </table>
    </form>
   </td>
  </tr> 
  <tr>
   <td>
    <form action="/searchby/category/user">
    <table style='width:100%'>
      <tr>
     	<td style="width:30%" class='tatd la'>Search by category</td>
     	<td style="width:50%" class='tatd'>
     	<select name="category" class='tbb' required>
       	   <option th:each="cat:${clist}" th:value="${cat.cat_id}" th:text="${cat.category}"></option>
     	</select></td>
     	<td style="width:20%" class='tatd'><button class='btr'>Go</button></td>
   	  </tr>
   	 </table>
   	</form>
   	</td>
   </tr>
   <tr>
   <td>
    <form action="/searchby/publisher/user">
    <table style="width:100%">	  
     <tr>
     	<td style="width:30%" class='tatd la'>Search by publisher</td>
     	<td style="width:50%" class='tatd'><select name="publisher" class='tbb'>
       	 <option th:each="pub:${plist}" th:value="${pub.pub_id}" th:text="${pub.publisher}"></option>
     	</select></td>
     	<td style="width:20%" class='tatd'><button class='btr'>Go</button></td>
   	  </tr>
   	  </table>
   	  </form>
   	 </td>
   	 </tr> 
   </table>
   <div class='dvv'>
   <a class='btl' href='/user/home' style='background-color:orange'>Home</a>
   </div>   
</body>
</html>