<html xmlns:th="http://www.thymeleaf.org">
<table style='width:100%'>
    <tr>
   	<td style='width:30%;font-size:1.8vw'>
   		<label th:text="${pn}"></label>
   		<label> of </label>
   		<label th:text="${tp}"></label>
   		<a href='/purchase/findall' class='btl'>Show All</a>
   	</td>
	<td style='width:40%;text-align: center'>
    <a class='an' th:if="${pn>5}" th:href="@{/author/booklist(pn=${pn-1},author=${author})}"><i class="fa fa-arrow-circle-left" style="font-size:2.2vw;color:blue"></i></a>
    <a th:if="${tp<=5}" th:class="${pn==i?'anc':'an'}"  th:href='@{/author/booklist(pn=${i},author=${author})}' th:each="i:${#numbers.sequence( 1,tp,1)}" th:text="${i}"></a>
    <a th:if="${tp>5 and pn<=5}" th:class="${pn==i?'anc':'an'}"  th:href='@{/author/booklist(pn=${i},author=${author})}' th:each="i:${#numbers.sequence( 1,5,1)}" th:text="${i}"></a>
    <a th:if="${tp>5 and pn>5}" th:class="${pn==i?'anc':'an'}"  th:href='@{/author/booklist(pn=${i},author=${author})}' th:each="i:${#numbers.sequence( 1,4,1)}" th:text="${i}"></a>
    <a th:if="${tp>5 and pn>5}" th:href='@{/author/booklist(pn=${pn},author=${author})}' class='anc' th:text="${pn}"></a>
    <a th:if="${tp>5}" class='an' th:href="@{/author/booklist(pn=${pn+1},author=${author})}" th:onclick="|return ${pn<tp}|">
      <i class="fa fa-arrow-circle-right" style="font-size:2.2vw;color:blue"></i>
    </a>
    </td>
    <td style='width:30%;text-align: right'>
        <input type='text' style='font-size:1.4vw'  placeholder='Search by author name' name='author' required>
        <input type='hidden'  value='1' name='pn'>
        <button class='btr'>Go</button>
    </td>
    </tr>
   </table>
   </html>