<html  xmlns:th="http://www.thymeleaf.org">
<body class='bgi'>
<div th:insert="/user/top"></div>
 <div class='container'>
  <div class='card col-md-6 mx-auto'>
   <div class='card-body'>
     <form>
      <div class='row form-group'>
       <div class='col-md-10'>
        <label for='holder'><b>Card holder Name</b></label>
        <input type='text' id='holder' class='form-control'>
       </div>  
      </div>
      <div class='row form-group'>
       <div class='col-md-10'>
        <label for='card'><b>Card Number</b></label>
        <input type='text' id='card' class='form-control'>
       </div>  
      </div>
      <div class='row form-group'>
       <div class='col-md-3'>
        <label for='holder'><b>Date</b></label>
        <select class='form-control'>
	  	 <option value="1">01</option><option value="2">02</option><option value="3">03</option>
	  	 <option value="4">04</option><option value="5">05</option><option value="6">06</option>
	  	 <option value="7">07</option><option value="8">08</option><option value="9">09</option>
	  	 <option value="10">10</option><option value="11">11</option><option value="12">12</option>
	  	</select>
	  	</div>
	  	<div class='col-md-3'>
	  	<label for='holder'><b>Month</b></label>
	  	<select class='form-control'>
	  	 <option>2022</option><option>2023</option><option>2024</option>
	  	 <option>2025</option><option>2026</option><option>2027</option>
	  	 <option>2028</option><option>2029</option><option>2030</option>
	  	</select>
	  	</div>  
      </div>
     </form>
   </div>
  </div>
 </div>
</body>
</html>