<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="/user/top"></div>
<body class='bgi'>
  <div class='dv'>
   <a href='/user/searchbooks' class='btl' style='margin-left:2vw'>Search Books</a>
   <a href='/purchase/booklist?pn=1' class='btl' style='margin-left:2vw'>Purchase Book</a>
   <a href='/cart/cart-items' class='btl' style='margin-left:2vw'>View Cart</a>
   <a href='/transaction/list' class='btl' style='margin-left:2vw'>View Transaction</a>
   <a href='/profile/profile'  class='btl'>My Profile</a>
   <a href='/card/details'  class='btl'>Your Card</a>
  </div>
 </body>
 </html>