<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <link href='../CSS/style.css' rel='stylesheet'>
  <link href='../CSS/login.css' rel='stylesheet'>
 </head>
 <body class='bgi'>
  <div th:insert="/home/head"></div>
  <div align="center">
  <div class='dv'>
   <a href='/bookstore/userlogin' class='btl' style='padding:1vw 2vw;font-size:2vw;color:blue;background-color:white;border-radius:.4vw'>User Login</a>
   <a href='/bookstore/adminlogin' class='btl' style='padding:1vw 2vw;font-size:2vw;color:blue;background-color:white;border-radius:.4vw'>Admin Login</a>
  </div>
  </div>
 </body>
</html>